.dark-accordion .accordion-item {
  background-color: #2c2c2c;
  color: white;
  border: 1px solid #444;
}

.dark-accordion .accordion-header {
  background-color: #2c2c2c;
  color: white;
}

.dark-accordion .accordion-button {
  background-color: #2c2c2c;
  color: white;
}

.dark-accordion .accordion-button:not(.collapsed) {
  background-color: #3a3a3a;
  color: white;
}

.dark-accordion .accordion-body {
  background-color: #2c2c2c;
  color: white;
}
